@font-face {
  font-family: "iconfont"; /* Project id 4495984 */
  src: url('//at.alicdn.com/t/c/font_4495984_4inle9k6l3n.woff2?t=1712398668777') format('woff2'),
       url('//at.alicdn.com/t/c/font_4495984_4inle9k6l3n.woff?t=1712398668777') format('woff'),
       url('//at.alicdn.com/t/c/font_4495984_4inle9k6l3n.ttf?t=1712398668777') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email3:before {
  content: "\e610";
}

.icon-gitee:before {
  content: "\e616";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}
